:root {
    --primary-custom: #f3e0c7;    /* Nomaini uz savu Primary HEX kodu  99582a */ 
    --accent-custom: #780000;     /* Nomaini uz savu Secondary HEX kodu */
    --bg-light: #99582a;          /* Gaišais fons */
}

/* Galvenās pogas krāsa */
.btn-primary {
    background-color: var(--primary-custom) !important;
    border-color: var(--primary-custom) !important;
}
.btn-secondary {
    background-color: var(--bg-light) !important;
    border-color: var(--bg-light) !important;
}

/* Navigācijas joslas fons (ja HTML izmanto class="navbar bg-primary") */
.navbar.bg-primary {
    background-color: var(--primary-custom) !important;
}

/* Akcenta krāsa saitēm vai mazām detaļām */
a {
    color: var(--accent-custom) !important;
}

/* Ja vēlies pielāgot kartīšu (Cards) izskatu */
.card {
    border: 1px solid var(--primary-custom) !important;
    background-color: #f3e0c7 !important; /
}

/* Ja vēlies pielāgot veiksmes paziņojumus (Alerts) */
.alert-success {
    background-color: var(--primary-custom) !important;
    color: var(--primary-custom) !important;
    border-left: 5px solid var(--accent-custom) !important;
}
body {
    font-family: 'Lato', sans-serif; /* Nomaini uz savu pamatteksta fontu */
    background-color : var(--primary-custom) !important;
}

h1, h2, h3 {
    font-family: 'Merriweather', sans-serif; /* Nomaini uz savu virsrakstu fontu */
    font-weight: bold;
}

.merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}