{% extends "pamats.html" %}
{% block content %}

<table border = "1">
   <colgroup>
    <col span="5" style="background-color: #ffffff">
  </colgroup>
  <h1> Portfeļa kopsavilkums  💼</h1>
  <thead>
    <tr>
      <th>Simbols</th>
      <th>Daudzums </th>
      <th>Iegādes cena</th>
      <th>Iegādes datums</th>
      <th>Maksa par instrumentu</th>
    </tr>
  </thead>

  <tbody>
    
      {% for p in pirkumi %}
      <tr>
        <td>{{p.simbols}}</td>
        <td>{{p.daudzums}}</td>
        <td>{{ p.iegades_cena }} €</td>
        <td>{{ p.iegades_datums }}</td>
        <td>{{ p.jamaksa }} €</td>

      </tr>
      {% endfor %}
  </tbody>
</table>
<br>
<h4> Kopā jāmaksā: {{kopejaa_summa}}€ </h4>


  <strong>
    Liels paldies, ka izvēlējies Investo 😄!
  </strong>


{% endblock %}