{% extends "pamats.html" %}
{% block content %}
<h2>Kas mēs esam, un ko mēs piedāvājam?</h2>
<p>“Investo” piedāvā modernu un uzticamu piekļuvi pasaules finanšu tirgiem, nodrošinot iespēju iegādāties dažādus ieguldījumu instrumentus vienuviet.
    Mūsu platformā investori var ērti un droši iegādāties atsevišķas akcijas, ETF fondus un obligāciju ETF, kas ļauj veidot diversificētu, sabalansētu un ilgtermiņa mērķiem atbilstošu portfeli. Mēs nodrošinām profesionālu vidi gan tiem, kas sper pirmos soļus ieguldīšanā, gan tiem, kuri jau aktīvi pārvalda savu kapitālu.
<br>
Lai atvieglotu ieguldīšanas sākšanu un palīdzētu izprast pieejamos instrumentus, zemāk esam sagatavojuši skaidru un strukturētu pārskatu par to, kas ir akcijas, ETF fondi un obligāciju ETF. Šī informācija sniedz pamata izpratni par katra instrumenta būtību un to, kā tie var kalpot kā pamats ilgtspējīgai kapitāla veidošanai.</p>
<br>
<p>Ieguldīšana kļūst arvien populārāka, un daudzi jaunie investori sāk ar trim pamata instrumentiem: akcijām, ETF fondiem un obligāciju ETF.
   Lai pieņemtu pārdomātus lēmumus, ir svarīgi saprast, kā katrs no tiem darbojas un kam tie ir piemēroti.</p>
<h2>Kas ir akcija?</h2>
<p>Akcija ir uzņēmuma īpašuma daļa. Iegādājoties akciju, tu kļūsti par mazu uzņēmuma līdzīpašnieku, un tava peļņa ir atkarīga no uzņēmuma izaugsmes un tirgus noskaņojuma. Akciju vērtība var kāpt, ja uzņēmums attīstās, vai krist, ja tam klājas sliktāk. Daļa uzņēmumu izmaksā arī dividendes – peļņas daļu, ko saņem akcionāri.

Piemērots
 investoriem, kas vēlas augstāku potenciālo ienesīgumu un ir gatavi pieņemt lielākas cenu svārstības.
  Akcijas vislabāk darbojas ilgtermiņā.</p>
<br>

<h2>Kas ir ETF Fonds?</h2>  
<p>ETF (Exchange Traded Fund) ir biržā tirgots fonds, kas apvieno daudzu uzņēmumu akcijas vienā grozā. Tas nozīmē, ka, nopērkot vienu ETF daļu, tu automātiski ieguldi desmitiem vai pat simtiem uzņēmumu vienlaikus. Populārs piemērs ir S&P 500 ETF, kas satur 500 lielāko ASV uzņēmumu akcijas.

ETF piedāvā plašu diversifikāciju, zemas izmaksas un vienkāršu ieguldīšanas procesu. Tie ir īpaši piemēroti iesācējiem, jo nav jāizvēlas atsevišķi uzņēmumi – fonds to izdara tavā vietā.

Piemērots tiem, kas vēlas stabilu, sabalansētu un ilgtermiņā drošāku ieguldījumu.</p>
<br>

<h2> Kas ir Obligāciju ETF?</h2>
<p>Obligāciju ETF ir fonds, kas iegulda obligācijās – valstu vai uzņēmumu aizdevumos. Ieguldot obligāciju ETF, tu faktiski aizdod naudu emitentam un saņem procentu maksājumus. Tāpat kā akciju ETF, arī obligāciju ETF apvieno daudzas obligācijas vienā grozā, samazinot risku.

Obligāciju ETF parasti ir mazāk svārstīgi nekā akcijas un nodrošina stabilākus ienākumus, tāpēc tie bieži tiek izmantoti portfeļa līdzsvarošanai.

Piemērots investoriem, kas vēlas zemāku risku, stabilitāti un mierīgāku kapitāla pieaugumu.</p>

{% endblock %}