{% extends "pamats.html" %}

{% block content %}

<form action="/pievienot" method="POST">
    <input type="hidden" name="symbol" value="{{ item.symbol }}">
    
    <label>Daudzums:</label>
    <input type="number" name="quantity" required>
    
    <button type="submit">Pirkt</button>
</form>


  <div class="row">
    {% for item in dati %}
        <div class="col-md-3 mb-3">
            <div class="card p-2 shadow-sm text-center">
                <strong>{{ item.symbol }}</strong>
                <div>{{ item.cena }}</div>

                {% if item.izmaina >= 0 %}
                    <div style="color:green">
                        +{{ item.izmaina }} ({{ item.proc }}%)
                    </div>
                {% else %}
                    <div style="color:red">
                        {{ item.izmaina }} ({{ item.proc }}%)
                    </div>

                {% endif %}
                
            </div>
        </div>
    {% endfor %}
  </div>





{% endblock %}