{% extends "pamats.html" %}

{% block content %}




  <div class="row">
    {% for item in dati %}
        <div class="col-md-3 mb-3">
            <div class="card p-2 shadow-sm text-center">
                <strong>{{ item.symbol }}</strong>
                <div class="text-muted">
                    {{ item.kategorija }}
                </div>

                {% if item.izmaina >= 0 %}
                    <div style="color:green">
                        +{{ item.izmaina }} ({{ item.proc }} %) 
                    </div>
                {% else %}
                    <div style="color:red">
                        {{ item.izmaina }} ({{ item.proc }}%) 
                    </div>

                {% endif %}
                       <form action="/pievienot" method="POST" class="mt-2">
                    <input type="hidden" name="symbol" value="{{ item.symbol }}">
                    <input type="number" name="quantity"  min = "0.01 "step = "0.01" required>
                    <button type="submit" class="btn btn-success mt-2">Pirkt</button>
                </form>
            </div>
        </div>
    {% endfor %}
  </div>





{% endblock %}